// Breadcrumbs

.breadcrumb {
  display: block;
  color: $tan;
  font-size: 1.2rem;
  font-weight: 400;
  margin-right: 5px;
  padding: 1.5rem 0;

  @include breakpoint($min1024) {
    padding: 2.75rem 0 2.5rem;
  }

  a {
    color: $tan;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  li::before {
    content: " > ";
    margin: 0 0.25rem;
  }

  .page-node-type-species & {
    color: $white;
    margin-top: -15rem;
    position: absolute;
    font-size: 1.6rem;
    line-height: 2.4rem;

    a {
      color: $white;
    }

    li:first-of-type::before {
      display: none;
    }

    li::before {
      content: " / ";
      margin: 0 0.5rem;
    }
  }
}
