// Button styles

.btn-orange {
  @include button-orange;
}

.btn-orange-line {
  margin: 20px 0;
  display: block;
  height: 47px;
  max-width: 170px;
  @include button-orange-line;
}

.btn-teal {
  @include button-teal;
}

.btn {
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 8px 20px;
  text-align: center;
  text-transform: uppercase;
}

.btn.golden {
  background: #878475;
  color: $white;
}
