// Common icons used throughout the site

.icon--land {
  &:before {
    background-image: url('../images/icon-land.png');
  }
}

.country--icon {
  &:before {
    background-image: url('../images/icon-globe.png');
  }
}

.calendar--icon {
  &:before {
    background-image: url('../images/icon-globe.png');
  }
}
