// Common icons used throughout the site

.country--icon {
  &:before {
    background-image: url('../images/icon-globe.png');
  }
}

.calendar--icon {
  &:before {
    background-image: url('../images/icon-globe.png');
  }
}


// Circle icons
.icon--agriculture {
  &:before {
    background-image: url('../images/.icon--aggriculture.png');
  }
}

.icon--animals {
  &:before {
    background-image: url('../images/.icon--animals.png');
  }
}

.icon--bio-enterprise {
  &:before {
    background-image: url('../images/.icon--bio-enterprise.png');
  }
}

.icon--career-development {
  &:before {
    background-image: url('../images/.icon--career-development.png');
  }
}

.icon--climate-change {
  &:before {
    background-image: url('../images/.icon--climate-change.png');
  }
}

.icon--community-empowerment {
  &:before {
    background-image: url('../images/.icon--community-empowerment.png');
  }
}

.icon--community-involvement {
  &:before {
    background-image: url('../images/.icon--community-involvement.png');
  }
}

.icon--community {
  &:before {
    background-image: url('../images/.icon--community.png');
  }
}

.icon--conservation {
  &:before {
    background-image: url('../images/.icon--conservation.png');
  }
}

.icon--economic-development {
  &:before {
    background-image: url('../images/.icon--economic-development.png');
  }
}

.icon--education {
  &:before {
    background-image: url('../images/.icon--education.png');
  }
}

.icon--email {
  &:before {
    background-image: url('../images/.icon--email.png');
  }
}

.icon--projects,
.icon--flag {
  &:before {
    background-image: url('../images/.icon--flag.png');
  }
}

.icon--heart {
  &:before {
    background-image: url('../images/.icon--heart.png');
  }
}

.icon--in-the-field {
  &:before {
    background-image: url('../images/.icon--in-the-field.png');
  }
}

.icon--job,
.icon--jobs {
  &:before {
    background-image: url('../images/.icon--jobs.png');
  }
}

.icon--key-landmarks {
  &:before {
    background-image: url('../images/.icon--key-landmarks.png');
  }
}

.icon--land {
  &:before {
    background-image: url('../images/.icon--land.png');
  }
}

.icon--livestock {
  &:before {
    background-image: url('../images/.icon--livestock.png');
  }
}

.icon--member {
  &:before {
    background-image: url('../images/.icon--member.png');
  }
}

.icon--news {
  &:before {
    background-image: url('../images/.icon--news.png');
  }
}

.icon--partners {
  &:before {
    background-image: url('../images/.icon--partners.png');
  }
}

.icon--plane {
  &:before {
    background-image: url('../images/.icon--plane.png');
  }
}

.icon--population {
  &:before {
    background-image: url('../images/.icon--population.png');
  }
}

.icon--primary-ecosystem {
  &:before {
    background-image: url('../images/.icon--primary-ecosystem.png');
  }
}

.icon--protected-area {
  &:before {
    background-image: url('../images/.icon--protected-area.png');
  }
}

.icon--research {
  &:before {
    background-image: url('../images/.icon--research.png');
  }
}

.icon--safari-tourism {
  &:before {
    background-image: url('../images/.icon--safari-tourism.png');
  }
}

.icon--schools {
  &:before {
    background-image: url('../images/.icon--schools.png');
  }
}

.icon--scouts {
  &:before {
    background-image: url('../images/.icon--scouts.png');
  }
}

.icon--spread-the-word {
  &:before {
    background-image: url('../images/.icon--spread-the-word.png');
  }
}

.icon--strategy {
  &:before {
    background-image: url('../images/.icon--strategy.png');
  }
}

.icon--treats {
  &:before {
    background-image: url('../images/.icon--treats.png');
  }
}

.icon--training {
  &:before {
    background-image: url('../images/.icon--training.png');
  }
}

.icon--video,
.icon--videos {
  &:before {
    background-image: url('../images/.icon--video.png');
  }
}

.icon--wildlife-ape {
  &:before {
    background-image: url('../images/.icon--wildlife-ape.png');
  }
}

.icon--wildlife-bigcats {
  &:before {
    background-image: url('../images/.icon--wildlife-bigcats.png');
  }
}
.icon--wildlife-elephants {
  &:before {
    background-image: url('../images/.icon--wildlife-elephants.png');
  }
}
.icon--wildlife-lions {
  &:before {
    background-image: url('../images/.icon--wildlife-lions.png');
  }
}
.icon--wildlife-rhino {
  &:before {
    background-image: url('../images/.icon--wildlife-rhino.png');
  }
}
.icon--wildlife-zebras {
  &:before {
    background-image: url('../images/.icon--wildlife-zebras.png');
  }
}

