// Lists

.block-main-page-content {
  ol,
  ul {
    list-style-type: none;

    li {
      margin-left: 1.25rem;
      text-indent: -2rem;
      padding-left: 2rem;
    }
    li:not(.pager__item){
      &:before {
        background-color: $tan;
        border-radius: 50%;
        content: '';
        display: inline-block;
        margin-right: 1rem;
        width: 9px;
        height: 9px;
      }
    }
  }
}

.region-sidebar-second {
  ul {
    margin: 0;
    padding: 0;

    li {
      color: $awforange;
      list-style: none;
      list-style-type: none;
      padding-left: 10px;
      position: relative;

      &:before {
        content: "› ";
        font-size: 1.35rem;
        font-style: normal;
        position: absolute;
        left: 0;
      }
    }
  }
}

ul.bullets,
ul.gray-bullets {
  li {
    line-height: 1.5;
  }
}
