/**
 * @file
 * Color variables.
 *
 * Provide base color palette variables.
 *
 */

// Define color variables.
$black: #333;
$ltblue: #96b4ce;
$blue: #326cb1;
$medblue: #2f6baa;
$maroon: #892554;
$red: #c84942;
$ltgray: #edece9;
$ltrgray: #bdbab1;
$tan: #878475;
$teal: #329a94;
$medgray: #666;
$gray: #333;
$owhite: #f2f2f2;
$white: #fff;
$awfred: rgb(198, 74, 70);
$awforangedark: rgb(233, 114, 0);
$awforange: rgb(231, 114, 31);
$awfbrown: rgb(75, 62, 54);
$awfwarmgray: rgb(199, 196, 187);
$awfdarkgreen: rgb(50, 154, 148);
$awfpink: rgb(137, 37, 84);
$awfyellowshade: rgb(218, 217, 212);
$awfgray: #c0bdb4;
$awftan: #dad9d4;


// Imported colors from old theme
$dark: $black;
$light: $owhite;
$highlight: $awforangedark;

$darkteal: #1f857e;
$orange: #f0723a;
$purple: #892554;
$reddarker: #c14445;
$brown: #322c2a;
$lightbrown: #c7c4bb;
$lighterbrown: #d7d6d2;
$darkbrown: #4b3e38;
$dnd-outline: #92b0b3;
$dnd-bg: #c8dadf;
$tan2: #e3e2df;
$lighttan: #edece9;
$offwhite: #f2f1ef;
$offwhite2: #f8f7f1;
$greenyellow: #878475;
$verylightgray: #e5e5e5;
$donategray: #ddd;
$donatetextgray: #696969;
$lightergray: #bdbab1;
$lightgray: #b6b3ab;
$lightgray2: #bcb9b2;
$gray: #c0bdb4;
$darkgray: #8e8e8e;
$darkergray: #434343;
