/**
* @file
* Block global styles.
*
*/

.block {
  position: relative;
}

.lazyload {
  opacity: .2;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms ease 50ms;
}

.content-wrapper-top>div {
  color: $awfgray;
  display: inline-block;
  margin: 0.25rem 2rem 0 0;

  &:before {
    background-color: $awfgray;
    border-radius: 50%;
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 0.5rem;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
