/**
* @file
* Block global styles.
*
*/

.block {
  position: relative;
}

%fadein-selector {
  transition: opacity 300ms ease 50ms;

  &.js-transparent {
    opacity: 0;
  }
}

.lazyload {
  opacity: .2;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms ease 50ms;
}
