// General layout related stylings

.region-content {
  @extend %content-width;

  article {
    background: $white;
    max-width: 940px;
    height: auto;

    >div {
      padding: 2rem;
    }
  }

  article+aside {
    margin: 2rem 0;
    min-width: 220px;

    @include breakpoint($min760) {
      margin: 0 0 0 2rem;
      max-width: 220px;
      z-index: 1;
    }
  }

  .page-node-type-species &,
  .page-node-type-species & article {
    max-width: 1280px;
  }

  .path-frontpage & {
    max-width: 100% !important;
  }

  .block-main-page-content {
    display: flex;
    flex-direction: column;

    @include breakpoint($min760) {
      flex-direction: row;
    }
  }
}

.two-col {
  display: flex;
  flex-direction: column;

  @include breakpoint($min760) {
    flex-direction: row;
  }

  .right {
    max-width: 100%;

    @include breakpoint($min760) {
      margin-left: 2rem;
      max-width: 220px;
    }

    >div {
      margin: 2rem 0;
    }

    >div:first-of-type {
      margin-top: 0;
    }

    >div:last-child {
      margin-bottom: 2rem;

      @include breakpoint($min760) {
        margin-bottom: 0;
      }
    }
  }

  article {
    >div {
      padding: 3rem 3.5rem;
    }
  }
}
