---
title: Elements | Styleguide
fabricator: true
---

<h1>Styleguide</h1>

{{> intro}}

<h2>Heading Level 2</h2>

{{> paragraph}}

{{> blockquote}}

<h3>Heading Level 3</h3>

{{> paragraph}}

<h4>Heading Level 4</h4>

{{> lists.unordered}}

{{> paragraph}}

<h5>Heading Level 5</h5>

{{> paragraph }}

<h6>Heading Level 6</h6>

{{> lists.ordered}}

<hr/>

<h2>Colors</h2>

<div class="color-chips">
  <div class="color-chip dark">
    <div class="color-chip__name">$dark</div>
  </div>
  <div class="color-chip light">
    <div class="color-chip__name">$light</div>
  </div>
  <div class="color-chip highlight">
    <div class="color-chip__name">$highlight</div>
  </div>
</div>
