/**
 * @file
 * Global field styles.
 *
 * Provide some generic field styles to use across the site.
 *
 */

// Global field styles.
.field-item,
.block-content {
  > * {
    @include trim();
  }
}
.field {
  margin: 0.5em 0;
  .field-label {
    @extend label;
    margin-bottom: 0;
  }
}

// Inline styles.
.inline {
  display: inline;
  padding: 0;
  li {
    display: inline;
    padding: 0 1em 0 0; /* LTR */
    list-style-type: none;
  }
}
span.field-label {
  padding: 0 1em 0 0; /* LTR */
}
.field {
  &-content-type {
    font-family: $base-heading-font;
    font-size: .9rem;
    display: block;
    margin-bottom: 10px!important;
  }
  &-listing-title {
    font-family: $base-heading-font;
    font-size: 24px;
    display: block;

  }
}
