/**
* @file
* Tab styles.
*
* Define some global tab styles.
*
*/

/*.js-tab-enabled {
  .js-tab-label {
    display: none;
  }
  .js-tab-content {
    &.js-tab-hide {
      display: none;
    }
  }
  .js-tab-links {
    .js-active {
      font-weight: bold;
    }
  }
}*/
