.column.omega, .columns.omega {
  float: right;
  position: relative;
}

.row .seven.columns {
  width: 42.55326%;
  position: relative;
  float: left;
}


.row .nine.columns {
  width: 55.319238%
}

img {
  -ms-interpolation-mode: bicubic
}

#map_canvas img, .map_canvas img {
  max-width: none !important
}

.clearfix:after, .clearfix:before, .row:after, .row:before {
  content: "";
  display: table
}

.clearfix:after, .row:after {
  clear: both
}

.clearfix, .row {
  zoom: 1
}

@media only screen and (max-width: 1000px) {
  .container {
    padding: 0 20px
  }
}

@media only screen and (max-width: 767px) {

  .container {
    min-width: 0;
    margin-left: 0;
    margin-right: 0
  }

  .container {
    padding: 20px
  }

  .column.omega, .columns.omega {
    float: none
  }

  .row {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0
  }

  .row .row .column, .row .row .columns {
    padding: 0
  }

  .column, .columns {
    width: auto !important;
    float: none;
    margin-left: 0;
    margin-right: 0
  }

  .column:last-child, .columns:last-child {
    margin-right: 0;
    float: none
  }

  .row .row .column, .row .row .columns {
    padding: 0
  }

  .column, .columns {
    width: auto !important;
    float: none;
    margin-left: 0;
    margin-right: 0
  }

  .column:last-child, .columns:last-child {
    margin-right: 0;
    float: none
  }

  [class*=column] + [class*=column]:last-child {
    float: none
  }

  [class*=column]:after, [class*=column]:before {
    display: table
  }

  [class*=column]:after {
    clear: both
  }

}


div.PageMap {
  display: block;
  height: 430px;
  width: 100%;
  z-index: 1
}

div.PageMap img[src~="lyrs=kml"] {
  opacity: .7
}

div.PageMap.full {
  height: 100%;
  left: 0;
  position: absolute !important;
  top: 0;
  width: 100%
}

div.PageMap .leaflet-control-attribution, div.PageMap .leaflet-control-attribution a {
  color: #c7c4bb
}

.maps-full-toggle {
  z-index: 97
}

.maps-full-toggle.full {
  position: absolute;
  right: 20px;
  top: 20px
}

.ctrl a {
  border-right: 1px solid #000;
  padding: 0 6px 0 2px
}

.ctrl a:last-child {
  border-right: 0
}


div.top-border-red {
  border-top: 5px solid #c84942;
  padding-top: 20px;
  position: relative;
  top: -25px
}

.page-node-3032.landing-overview .region-content-preface .block-breadcrumbs {
  display: none;
}
@media only screen and (max-width: 1023px) {
  .page-node-3032 section {
    position: relative;
  }
  .page-node-3032.landing-overview .region-content-preface {
    padding: 0;
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
  .page-node-3032.landing-overview #module-15 .nine .intro-text {
    padding: 20px 20px 20px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .page-node-3032.landing-overview .preface {
    background: #222 url(../../images/wherewework.jpg) 0 0 no-repeat;
    background-size: cover;
  }
  .page-node-3032.landing-overview #module-15,
  .page-node-3032.landing-overview .lighttan-back,
  .page-node-3032.landing-overview .region-content-preface:before {
    background: none !important;
    position: relative;
    z-index: 1;
  }
}

div#module-15 {
  background: #edece9 url(../../images/wherewework.jpg) 0 0 repeat-x;
  background-size: cover;
  padding-bottom: 0;
  width: 100%;
  z-index: 101
}

div#module-15 h3 {
  margin-bottom: .5em
}
@media only screen and (max-width: 1023px) {
  .page-node-3032 div#module-15 h3 {
    color: #222;
  }
}

div#module-15 .row {
  height: 610px;
  overflow: hidden
}
.page-node-3032 div#module-15 .row {
  max-width: 940px;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  .page-node-3032 div#module-15 .row:after {
    content: '';
    display:block;
    width: 100%;
    height: 5px;
    background: #c84942;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

div#module-15 a.map-close, div#module-15 a.map-open {
  display: none
}

div#module-15 div.content-tabs,
div#module-15 div.intro-text {
  left: 0;
  position: absolute;
  top: 49px
}

div#module-15 div.intro-text {
  display: none;
  width: 100%;
}

div#module-15 div.nine.columns .intro-text {
  display: none
}

div#module-15.scroll {
  margin-left: 100%;
  position: absolute;
  top: 100px
}

div#module-15.scroll .collapse, div#module-15.scroll .intro-text {
  display: none
}

div#module-15.scroll a.map-close, div#module-15.scroll a.map-open {
  display: block;
  position: absolute;
  top: 250px
}

div#module-15.scroll a.map-open {
  left: -50px
}

div#module-15.scroll a.map-close {
  left: 0
}

div#module-15.scroll div.content-tabs {
  top: 74px !important
}

div#module-15.scroll div.content-tabs a.collapse {
  display: none
}

div#module-15 div.content-tabs {
  width: 400px
}

body.user-logged-in #countries-map div#module-15 div.content-tabs div.content-tabs {
  width: 380px;
  top: 0 !important;
}

section#countries-map div#module-15 .row {
  width: 100%;
  max-width: 940px;
  min-width: 720px;
  margin: 0 auto;
}

div#module-15 div.content-tabs ul.tabs li {
  float: left;
  list-style: none
}

div#module-15 div.content-tabs ul.tabs li a {
  background: #dad9d4;
  border-right: 1px solid #fff;
  display: block;
  color: #322c2a;
  height: 55px;
  padding: 20px 15px;
  text-decoration: none !important
}

div#module-15 div.content-tabs ul.tabs li a:hover {
  background: #c14445;
  color: #fff
}

div#module-15 div.content-tabs ul.tabs li a.selected {
  background: #c14445;
  color: #fff;
  cursor: default
}
@media only screen and (min-width: 1023px) {
  div#module-15 div.content-tabs div {
    background: #edece9;
    clear: left;
    height: 481px;
    min-height: 600px
  }

  div#module-15 div.content-tabs .maplist {
    padding: 20px;
  }
}
body.user-logged-in section#countries-map div#module-15 .maplist .maplist {
  padding: 0;
}

div#module-15 div.content-tabs ul {
  border-bottom: none;
}

div#module-15 div.content-tabs ul.inline li {
  width: 50%;
  padding: 15px 0 0 0
}

div#module-15 div.content-tabs ul.inline li a {
  margin-right: 10px
}

div#module-15 div#content-map {
  margin-top: 30px
}

div#module-15 div#content-map img {
  height: 549px;
  width: 495px
}

div#module-15 div#content-map .dot {
  cursor: pointer;
  height: 40px;
  width: 40px
}

.page-node-3032 section {
  width: 100%;
}
.page-node-3032 .view-hero .views-row {
  flex-direction: column;
}

div#module-15 div#content-map .dot span {
  background: transparent url(../../images/dot.png) 10px 10px no-repeat;
  display: block;
  height: 40px;
  width: 40px;
  -webkit-animation: pulsin .2s ease-out;
  -moz-animation: pulsin .2s ease-out;
  -ms-animation: pulsin .2s ease-out;
  -o-animation: pulsin .2s ease-out;
  animation: pulsin .2s ease-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1
}

div#module-15 div#content-map .dot.active span {
  background: transparent url(../../images/dot-active.png) 0 0 no-repeat;
  -webkit-animation: pulsateOnce .5s ease-out;
  -moz-animation: pulsateOnce .5s ease-out;
  -ms-animation: pulsateOnce .5s ease-out;
  -o-animation: pulsateOnce .5s ease-out;
  animation: pulsateOnce .5s ease-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1
}

div#module-15 div#content-map #tooltip {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  display: none;
  height: auto;
  left: 0;
  padding: 1px;
  position: absolute;
  top: 0;
  width: 340px;
  z-index: 98;
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .35);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .35);
  box-shadow: 0 3px 7px rgba(0, 0, 0, .35)
}
@media only screen and (max-width: 1023px) {
  .page-node-3032 div#module-15 div#content-map #tooltip {
    display:none !important;
  }
}

.bold {
  font-weight: bold;
}

div#module-15 div#content-map #tooltip img {
  margin-top: 0
}

div#module-15 div#content-map #tooltip div.left-column, div#module-15 div#content-map #tooltip div.right-column {
  float: left;
  height: 100%
}

div#module-15 div#content-map #tooltip div.left-column p, div#module-15 div#content-map #tooltip div.right-column p {
  margin-bottom: 0
}

div#module-15 div#content-map #tooltip div.left-column {
  background-position: center center;
  background-size: cover;
  display: block;
  height: auto;
  min-height: 140px;
  overflow: hidden;
  width: 151px
}

div#module-15 div#content-map #tooltip div.right-column {
  padding: 10px;
  width: 172px
}

div#module-15 div#content-map #tooltip .bubble {
  bottom: 32px;
  left: 0;
  position: absolute
}

div#module-15 div#content-map #tooltip .bubble .sprite, div#module-15 div#content-map #tooltip .bubble p {
  position: absolute;
  font-size: 18px;
  padding-top: 1px;
  width: 155px
}

div#module-15 div#content-map #tooltip .bubble .sprite.threeliner, div#module-15 div#content-map #tooltip .bubble .sprite.twoliner, div#module-15 div#content-map #tooltip .bubble p.threeliner, div#module-15 div#content-map #tooltip .bubble p.twoliner {
  background-color: #892554;
  width: 152px
}

div#module-15 div#content-map #tooltip .bubble .sprite.twoliner, div#module-15 div#content-map #tooltip .bubble p.twoliner {
  height: 60px;
  margin-top: -29px
}

div#module-15 div#content-map #tooltip .bubble .sprite.threeliner, div#module-15 div#content-map #tooltip .bubble p.threeliner {
  height: 90px;
  margin-top: -59px
}

div#module-15 div#content-map #tooltip.reverse-v .bubble {
  left: -2px;
  top: -23px
}

div#module-15 div#content-map #tooltip.reverse-v .bubble .sprite {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg)
}

div#module-15 div#content-map #tooltip.reverse-v .bubble p {
  top: 23px
}

div#module-15 div#content-map #tooltip.reverse-v .bubble p.threeliner, div#module-15 div#content-map #tooltip.reverse-v .bubble p.twoliner {
  margin-left: 3px;
  margin-top: 0
}

div#module-15 div#content-map #tooltip.reverse-v div.left-column {
  margin-top: 30px
}

div#module-15 div#content-map #tooltip.reverse-h {
  margin-left: -184px
}

div#module-15 div#content-map #tooltip.reverse-h .bubble {
  left: auto;
  right: 153px !important
}

div#module-15 div#content-map #tooltip.reverse-h div.left-column {
  float: right
}

div#module-15 div#content-map #tooltip.reverse-v .bubble {
  right: 156px !important
}

.sprite {
  background-image: url(../../images/main-sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
  float: left
}

.sprite.arrow-down-dark {
  background-position: 0 0;
  width: 18px;
  height: 12px
}

.sprite.arrow-down-light {
  background-position: 0 -22px;
  width: 15px;
  height: 12px
}

.sprite.arrow-left-dark {
  background-position: 0 -44px;
  width: 12px;
  height: 17px
}

.sprite.arrow-left-orange {
  background-position: 0 -71px;
  width: 10px;
  height: 11px
}

.sprite.arrow-right-acc {
  background-position: 0 -92px;
  width: 8px;
  height: 39px
}

.sprite.arrow-right-dark {
  background-position: 0 -141px;
  width: 13px;
  height: 17px
}

.sprite.arrow-right-grey {
  background-position: 0 -168px;
  width: 8px;
  height: 10px
}

.sprite.bbb-small {
  background-position: 0 -222px;
  width: 90px;
  height: 34px
}

.sprite.bbb {
  background-position: 0 -222px;
  width: 90px;
  height: 34px
}

.sprite.bubble-label {
  background-position: 0 -266px;
  width: 155px;
  height: 55px
}

.sprite.date-bg {
  background-position: 0 -502px;
  width: 105px;
  height: 105px
}

.sprite.droppin1 {
  background-position: 0 -617px;
  width: 10px;
  height: 15px
}

.sprite.droppin2 {
  background-position: 0 -642px;
  width: 13px;
  height: 19px
}


.sprite.map-close {
  background-position: 0 -949px;
  width: 50px;
  height: 65px
}

.sprite.map-open {
  background-position: 0 -1024px;
  width: 50px;
  height: 65px
}

.sprite.pin-orange {
  background-position: 0 -1177px;
  width: 13px;
  height: 19px
}


.arrow-down {
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-left: 8px
}


*.fixed:not(nav) {
  position: fixed !important
}

.relative {
  position: relative
}

.bottom, .top {
  position: absolute
}

.bottom {
  bottom: 0
}

.bottom.right {
  right: 0
}

.top {
  top: 0
}

.hide {
  display: none
}

.clearfix:after {
  clear: both;
  content: '';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0
}


.hidden {
  display: none
}

.rotate90 {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg)
}

.flip-v {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg)
}

.padded-right {
  margin-right: 5px
}

.inline {
  display: inline
}

ul.inline {
  display: block
}

ul.inline li {
  display: inline;
  float: left;
  padding: 0
}

.center {
  text-align: center
}



.hidden {
  display: none;
  visibility: hidden
}


.row .columns .full {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%
}

.visible-phone {
  display: none !important
}

.visible-tablet {
  display: none !important
}

.hidden-desktop {
  display: none !important
}

.visible-desktop {
  display: inherit !important
}

@media (min-width: 768px) and (max-width: 979px) {
  .center-tablet {
    text-align: center
  }

  .hidden-desktop {
    display: inherit !important
  }

  .visible-desktop {
    display: none !important
  }

  .visible-tablet {
    display: inherit !important
  }

  .hidden-tablet {
    display: none !important
  }
}

@media (max-width: 767px) {
  .center-mobile {
    text-align: center
  }

  .hidden-desktop {
    display: inherit !important
  }

  .visible-desktop {
    display: none !important
  }

  .visible-phone {
    display: inherit !important
  }

  .hidden-phone {
    display: none !important
  }
}

@media only screen and (min-width: 1024px) {
  #show-me-block .container {
    height: 970px
  }
}



@media only screen and (min-width: 250px) and (max-width: 1023px) {

  div.top-border-red {
    border-top: 0;
    top: 0
  }

  body.where-we-work aside.row {
    padding-top: 20px
  }

  div#module-15 {
    background-size: auto 520px;
    height: auto
  }

  div#module-15 div.nine.columns {
    height: 520px
  }

  div#module-15 div.seven.columns .intro-text {
    display: none !important
  }

  div#module-15 div.nine.columns .intro-text {
    display: block
  }

  div#module-15 div.nine.columns, div#module-15 div.seven.columns {
    width: 100%
  }

  div#module-15.scroll {
    display: none
  }

  div#module-15 #content-map img {
    height: 400px !important;
    width: auto !important
  }

  div#module-15 .maplist {
    width: 100% !important
  }

  div#module-15 .row {
    height: auto
  }

  div#module-15 div#content-map, div#module-15 div.intro-text {
    float: left;
    position: relative;
    width: 50%
  }

  div#module-15 div#content-map p {
    bottom: 20px;
    color: #dad9d4;
    left: 0;
    position: absolute;
    width: 130px
  }
  div#module-15 div.intro-text p.gray {
    display: none
  }

  div#module-15 div.content-tabs, div#module-15 div.intro-text {
    display: block;
    position: relative;
    top: 0
  }

  div#module-15 div.content-tabs {
    position: relative;
    width: auto
  }

  div#module-15 div.content-tabs .tabs {
    display: none
  }

  div#module-15 div.content-tabs > div {
    border-top: 3px solid #c7c4bb;
    float: left;
    height: auto;
    padding: 20px 0
  }

  div#module-15 div.content-tabs div:first-child {
    border-top: 0 !important;
    padding-top: 0;
  }
  .page-node-3032 div#module-15 div.content-tabs div:first-child .maplist h3 {
    display: none;
  }

}

@media only screen and (max-width: 750px) {

  #breadcrumbs, #hero, .spread {
    display: none !important
  }


  div.top-border-red {
    border-top: 0;
    top: 0
  }

  div#module-15 {
    background-size: auto 360px;
    height: auto
  }

  div#module-15 .row {
    height: auto
  }

  div#module-15 div.nine.columns {
    height: 305px
  }

  div#module-15 div.nine.columns .intro-text {
    display: none !important
  }

  div#module-15 div.seven.columns .intro-text {
    display: block !important;
    width: 115px
  }

  div#module-15 div#content-map {
    height: 310px;
    margin-top: 0 !important;
    width: 100%
  }

  div#module-15 div#content-map img {
    float: right;
    height: 100% !important
  }

  div#module-15 div#content-map p {
    bottom: 20px;
    color: #dad9d4;
    left: 0;
    position: absolute;
    width: 40%
  }

  div#module-15 div.intro-text {
    margin-top: 40px;
    width: 100% !important
  }

  div#module-15 div.intro-text p {
    color: #322c2a !important
  }

  div#module-15 div.content-tabs, div#module-15 div.intro-text {
    display: block;
    position: relative;
    top: 0
  }

  div#module-15 div.content-tabs {
    position: relative;
    width: auto
  }

  div#module-15 div.content-tabs .tabs {
    display: none
  }
  .hero {
    background-size: auto 390px;
    background-position: center center;
    height: auto;
    max-height: 390px
  }

  .hero .six.columns img {
    display: none
  }
}


.full-screen {
  display: none
}

.brenham-flipped-content {
  width: 100% !important
}

.facet-last {
  margin-bottom: 20px
}

@media only screen and (min-width: 780px) {
  .full-screen {
    display: block
  }

  .mobile-only {
    display: none
  }

  .brenham-flipped-content {
    width: 68% !important
  }
}

