/**
 * @file
 * Print Styles.
 *
 * Provide some print styling.
 *
 * By importing this CSS file as media "all", we allow this print file to be
 * aggregated with other stylesheets, for improved front-end performance.
 */

@media print {
  a {
    // Underline all links.
/*    &:link,
    &:visited {
      text-decoration: underline !important;

      // Don't underline site link.
      &.site-link {
        text-decoration: none !important;
      }
    }*/

    // Alter links within the main content region.
    #content & {

      // Add visible URL after links.
/*      &[href]:after {
        font-weight: normal;
        font-size: 10px;
        content: " (" attr(href) ")";
      }*/

      // Only display useful links.
/*      &[href^="javascript:"]:after,
      &[href^="#"]:after {
        content: "";
      }*/
    }
  }

  // Add visible title after abbreviations.
/*  abbr[title]:after {
    #content & {
      content: " (" attr(title) ")";
    }
  }*/

  // Turn off any background colors or images.
/*  body,
  #page,
  #main,
  #content {
    background-color: transparent !important;
    background-image: none !important;
    color: #000;
  }*/

  // Un-float the content.
/*  #content {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }*/

  // Hide sidebars and nav elements.
/*  #skip-link,
  #navigation,
  #footer,
  .sidebars,
  .breadcrumb,
  .pager,
  .feed-icons {
    display: none;
    visibility: hidden;
  }*/

  // Alter the space around a printed page
/*  @page {
    margin: 60px;
  }
*/
  // Avoid a paragraph being detached from the heading immediately preceding it.
/*  h2,
  h3,
  h4 {
    page-break-after: avoid;
    break-after: avoid-page;
  }*/

  // Prevent ending up with a single line at the end of a page and a single line at the top the next page.
/*  p {
    orphans: 2;
    widows: 2;
  }*/
}
