// Article block on the homepage.
// eg. Our Work Never Stops

.view-homepage-multi-view.view-id-homepage_multi_view {
  .image-wrapper {
    overflow: hidden;
    display: block;

    img {
      display: block;
      transition: all .5s ease-in-out;
    }

    &:hover,
    &:focus {
      img {
        transform: scale(1.05);
      }
    }
  }
}

.view-homepage-multi-view.view-id-homepage_multi_view.view-display-id-block_1 {
  @include inner-wrapper;
  display: flex;
  flex-flow: row wrap;
  clear: both;

  @include breakpoint($min1024) {
    padding: 0 60px;
    display: block;
  }

  .view-header {
    width: 100%;
    clear: both;
    order: 1;
    margin-top: 80px;

    @include breakpoint($min1024) {
      margin-top: 0;
      padding-top: 90px;
    }

    h2 {
      margin-bottom: 0;
    }

    h3,
    p {
      max-width: 500px;
    }
  }

  &>.view-content {
    order: 2;
    margin-bottom: 30px;

    @include breakpoint($min1024) {
      width: 66%;
    }

    a {
      line-height: 1.5;
      display: block;
      margin-bottom: 0;
      color: $highlight;

      &:hover h4,
      &:focus h4 {
        text-decoration: underline;
      }

      .field--listing-title {
        @include view-link-orange;
      }

      &:hover,
      &:focus {
        span.field--listing-date {
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
      }

    }

    p {
      a {

        &,
        &:hover,
        &:active {
          color: $awfbrown;
          text-decoration: none;
        }
      }
    }

    .image-wrapper {
      @include breakpoint($min1024) {
        height: 320px;
      }

      @include breakpoint($min1320) {
        height: 450px;
      }
    }

    .field--listing-title {
      font-size: 18px;
      line-height: 1.2;

      @include breakpoint($min1024) {
        font-size: 24px;
      }

    }
  }

  &>.view-footer {
    order: 4;
    width: 100%;

    @include breakpoint($min1024) {
      float: right;
      position: absolute;
      margin-top: 110px;
      display: inline-block;
    }
  }

  &>.attachment.attachment-before {
    order: 5;

    @include breakpoint($min1024) {
      order: 3;
      width: 30%;
      float: right;
      right: 0;
      top: 0;
      position: absolute;
      margin-top: 110px;
      display: inline-block;
    }
  }

  &>.attachment.attachment-after {
    order: 4;

    @include breakpoint($min1024) {
      order: 3;
      width: 66%;
    }
  }

  h3 {
    margin-bottom: 15px;
    font-size: 1.9rem;

    @include breakpoint($min1024) {
      font-size: 2.3rem;
    }
  }

  .view-display-id-attachment_2 {
    margin-bottom: 60px;

    @include breakpoint($min1024) {
      margin-bottom: 0;
      margin-right: 60px;
    }

    .view-header {
      margin-top: 0;

      @include breakpoint($min1200) {
        margin-top: 8px;
      }
    }

    .view-content,
    .view-footer {
      display: block;
    }

    .view-content {
      margin-bottom: 30px;
    }

    .views-row {
      border-bottom: 1px solid $awfyellowshade;
      padding-top: 25px;
      padding-bottom: 15px;

      &:first-child {
        border-top: 1px solid $awfyellowshade;
      }

      h4 {
        color: #e97200 !important;
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: .7rem;
      }

      a {
        font-size: 18px;
      }

      .views-field-title {
        margin-bottom: 10px;
      }

      .views-field-field-date {

        &,
        div {
          @include view-field-field-date;
        }
      }

    }

    .view-footer {
      a {
        width: 200px;
      }
    }
  }

  .view-display-id-attachment_1 {
    margin-bottom: 40px;

    @include breakpoint($min1024) {
      margin-bottom: 100px;
    }

    .view-content {
      display: flex;
      flex-flow: row wrap;
    }

    .views-row {
      margin-bottom: 30px;
      width: 100%;

      @include breakpoint($min1024) {
        margin-bottom: 0;
        max-width: 48%;

        &:first-child {
          margin-right: 4%;
        }
      }
    }

    .view-footer {
      margin: -25px 0 100px;

      @include breakpoint($min1024) {
        margin: 0;
      }
    }

    a {
      .image-wrapper {
        max-height: 300px;

        @include breakpoint($min760) {
          max-height: none;
          height: 370px;
        }

        @include breakpoint($min1024) {
          height: 190px;
        }

        @include breakpoint($min1320) {
          height: 220px;
        }

      }

      .field--listing-title {
        @include view-link-orange;
        font-size: 18px;
        line-height: 1.2;
      }

      &,
      &:hover,
      &:focus {
        .field--listing-date {
          text-decoration: underline;
          text-decoration-color: white;
        }
      }
    }
  }

  .field--listing-date {
    @include view-field-field-date;
  }

  .field--listing-title {
    font-weight: 400;
  }

  .field--listing-date,
  .views-field.views-field-type,
  .field--listing-title {
    margin-bottom: 12px;
    display: block;
  }

  .field--type-image {
    margin: 0;
    padding: 0px;
  }

  @include breakpoint($min1024) {

    .view-footer,
    .view-content {
      display: inline-block;
    }

    .view-footer {
      width: 33%;
      top: 0;
      right: 0;
    }

    .field--listing-date {
      margin-bottom: 0;
      color: #333;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .views-row {
    .image-wrapper {
      margin-bottom: 15px;
    }

    &:hover,
    &:focus {
      .image-wrapper img {
        transform: scale(1.1);
      }

      .field--listing-title {
        text-decoration: underline;
      }
    }
  }
}
