// Paragraph - Solution

.paragraph--type--solution {
  .field--name-field-solution-heading {
    font-weight: 600;
  }

  .field--icon {
    display: flex;
  }

  .icon {
    max-width: 60px;
    width: 100%;

    &:before {
      content: '';
      width: 60px;
      height: 60px;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      display: inline-block;
    }
  }
}
