// Paragraph - Module

.field--name-field-module {
  >.field__item+.field__item {
    padding-top: 3.5rem;
  }
}

.paragraph--type--module {
  &:after {
    background: $lighttan;
    content: '';
    left: 0;
    right: 0;
    width: 100%;
    height: 20px;
    position: absolute;
  }

  .full.mb15 {
    padding: 1rem 0;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;


    @include breakpoint($min760) {
      flex-direction: row;
    }

    .three.columns {
      width: 17.021304%;
    }

    .twelve.columns {
      width: 74.468205%;
    }

    .thirteen.columns {
      width: 80.851194%;
    }
  }

  .eight.columns.alpha {
    width: 100%;
    display: inline-block;

    @include breakpoint($min760) {
      width: 48%;
    }
  }

  .eight+.eight {
    width: 100%;

    @include breakpoint($min760) {
      float: right;
      width: 50%;
    }
  }
}
