// Social Sharing buttons

.share-container {
  position: relative;

  .share~div {
    display: none !important;

    >.st-btn {
      display: inline-block !important;
    }
  }

  .share.share-enabled~div {
    display: block !important;
  }

  .sharethis-inline-share-buttons {
    position: absolute;
    right: 30px;
  }
}

a.share {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 16px;
  height: 16px;
  background: url('../images/sharebutton.png') top center no-repeat;
  background-size: 100% 200%;

  .news-blog-listing & {
    top: -2rem;
    right: -2rem;
  }

  &:hover,
  &:focus {
    background-position: bottom center;
  }
}

// preface instance
.preface-sharing {
  display: none;
  margin-top: 2rem;
  font-size: 1.4rem;

  @include breakpoint($min760) {
    display: flex;
  }

  .sharethis-label {
    margin-right: auto;
    color: $ltrgray;
    text-transform: uppercase;
    font-weight: 700;

    p:after {
      content: '';
      background-image: url('../images/main-sprite.png');
      background-repeat: no-repeat;
      background-position: 0 -1284px;
      display: inline-block;
      width: 12px;
      height: 11px;
    }
  }

  .sharethis-inline-share-buttons {
    z-index: 2 !important;

    .st-btn {
      display: inline-block !important;
    }
  }
}
