// View -- Search page
// /search

.view-search {
  background: white;
  padding: 2rem;
  margin-top: -4rem;

  .views-row {
    border-bottom: 1px solid $verylightgray;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }

  .view-filters {
    .form--inline {
      position: relative;

      label {
        display: none;
      }

      .form-item {
        margin: 0;
        padding: 0;
        width: 100%;

        .form-text {
          background: #fff;
          border: 1px solid $tan;
          display: block;
          height: 42px;
          margin: 0;
          padding: 0;
          position: relative;
          width: 100%;
          line-height: 40px;
          padding: 5px 40px 5px 10px;
        }
      }

      .form-submit {
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: block;
        font-size: 0;
        height: 40px;
        line-height: 38px;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 1px;
        text-indent: -9999px;
        top: 1px;
        width: 35px;
      }

      .form-actions {
        &:before {
          content: "\e986";
          font-family: "awf" !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          position: absolute;
          right: 1px;
          top: 1px;
          height: 18px;
          z-index: 5;
          width: auto;
          pointer-events: none;
          padding: 1.25rem 1rem 1rem;
        }
      }

      #edit-reset---ZjZVxBag68 {
        display: none;
      }
    }
  }
}
