
/* removing defaults */
.jcarousel-wrapper.jcarousel-skin-default.jcarousel-visible-3 {
	width: 100%;
	left: 3px;
}
.jcarousel-wrapper.jcarousel-skin-default {
	width: 100%;
	border: none;
	box-shadow: none;
	height: 190px;
	.jcarousel img {
		min-height: 178px;
	}
	.jcarousel-control-prev {
		top: 80px;
		left: -45px;
	}
	.jcarousel-control-next {
		top: 80px;
		right: -45px;
	}
}

.view-id-gallery_entity {
	padding: 30px 35px 30px 30px;
	background: #e3e2df;
	margin-bottom: 15px;
	.field--name-filename {
		display: none;
	}
	.jcarousel {
		li {
			margin-right: 20px;
			width: 270px;
			height: 190px;
		}
	}
}

.view-id-gallery_entity.view-display-id-block_11 {
	background: none;
	padding: 0px;
		.jcarousel-wrapper.jcarousel-skin-default {
			width: 100%;
			border: none;
			box-shadow: none;
			height: 190px;
		.jcarousel {
			li {
				background: white;
				width: 135px;
				.field {
					margin: 0px;
				}
				.field--name-uri {
					height: 90px;
					overflow: hidden;
				}
			}
			img {
				width: 135px;
				min-height: 70px;
			}
		}
	}
}

#popoutWrapper {
	display: block;
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: rgba(189, 186, 187, .75);
	top: 0px;
	left: 0px;
	#popoutInner {
		position: relative;
		display: block;
		width: 70%;
		margin-left: 15%;
	}
}