.news-blog-listing {
  padding-bottom: 4rem;

  .views-row {
    background: $white;
    max-width: 700px;
    padding: 2rem 2rem 4rem;
    margin-bottom: 2rem;

    article>div {
      padding: 0;
    }

    h2 {
      font-size: 2.2rem;
      font-weight: 400;
    }

    .content-wrapper-top {
      border-top: 1px solid $verylightgray;
      padding-top: 1rem;
    }

    img {
      margin-bottom: 2rem;
    }

    .read-more {
      font-style: italic;
    }
  }
}

.view-sidebar-news {
  background: $white;
  padding-bottom: 2rem;

  .views-field-title {
    font-weight: 600;
    font-size: 1.6rem;
  }

  .views-field-field-date,
  .views-field-field-news-featured-image {
    margin-bottom: 1.5rem;
  }

  .views-field-title,
  .views-field-field-date,
  .views-field-body,
  .views-field-view-node {
    padding: 0 2rem;
  }

  p {
    margin: 0 0 1rem;
  }

  .caret,
  .carrot {
    color: $awforange;
  }

  .view-footer {
    .tanbar {
      background: #dad9d4;
      display: flex;
      height: 40px;
      justify-content: space-between;
      margin-bottom: -2rem;
      padding: 0 2rem 0 0;
      width: 100%;
      z-index: 3;
    }

    p {
      display: inline-block;
      padding: 8px 10px;
      margin: 0;
      align-self: center;
      height: 100%;
    }

    .square.news {
      background-image: url('../images/square/globe.png');
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
    }
  }
}
