// View -- Wildlife Conservation page

.view-display-id-page_2 {
  ul li {
    text-indent: 0 !important;
    display: inline-block;
    margin-bottom: 2rem;
    padding-left: 0;
    margin-left: 0;
  }

  ul li:before {
    display: none !important;
  }

  .field {
    padding: 0;
    margin: 0;
  }

  .field--name-field-tags-animal {
    background: #dad9d4;
    color: #322c2a;
    min-height: 40px;
    width: 100%;

    .field__item {
      padding: 12px 10px !important;
    }
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }
}
