// View -- Blog Terms (eg. Blog sidebar)

.view-blog-terms {
  background: $white;
  padding: 2rem;

  ul li {
    line-height: 2;
    width: 100%;

    &:before {
      font-size: 1.85rem;
      bottom: -.15rem;
    }
  }
}
