// Webform for Apply for Positions

#webform-submission-apply-for-a-position-at-awf-add-form {
  h4 {
    color: #329a94;
    font-size: 2.3rem;
    font-weight: 400;
    margin: 0 0 1.5rem 0;
  }

  #edit-header {
    margin-bottom: -2rem;
  }

  .form-item {
    background: white;
    padding: 2rem;
  }

  .webform-progress {
    display: none;
  }
}
