// Base Styles

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $white;
  font-size: 62.5%;
  text-size-adjust: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $black;
  font-size: 15px;
  font-family: $sans;
  line-height: 1.6;
  overflow-x: hidden;
}

ul.menu {
  margin-left: 0;
}

img,
picture,
object,
figure,
input,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
