// Base Styles

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // z-index: 0;
}

html {
  background-color: $white;
  font-size: 62.5%;
  text-size-adjust: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: $black;
  font-size: 15px;
  font-family: $sans;
  line-height: 1.6;
  overflow-x: hidden;
}

ul.menu {
  margin-left: 0;
}

img,
picture,
object,
figure,
input,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

// Colors
.teal {
  color: $teal;
}

.teal-back {
  background-color: $teal;
}

.orange {
  color: $orange;
}

.orange-back {
  background-color: $orange;
}

.purple {
  color: $purple;
}

.purple-back {
  background-color: $purple;
}

.red {
  color: $red;
}

.red-back {
  background-color: $red;
}

.brown {
  color: $brown;
}

.brown-back {
  background-color: $brown;
}

.darkbrown {
  color: $darkbrown;
}

.darkbrown-back {
  background-color: $darkbrown;
}

.lightbrown {
  color: $lightbrown;
}

.lightbrown-back {
  background-color: $lightbrown;
}

.lighterbrown {
  color: $lighterbrown;
}

.tan {
  color: $tan;
}

.tan-back {
  background-color: $tan;
}

.tan2 {
  color: $tan2;
}

.tan2-back {
  background-color: $tan2;
}

.lighttan {
  color: $lighttan;
}

.lighttan-back {
  background-color: $lighttan;
}

.donategray {
  color: $donategray;
}

.donategray-back {
  background-color: $donategray;
}

.lightergray {
  color: $lightergray;
}

.lightgray {
  color: $lightgray;
}

.gray {
  color: $gray;
}

.gray-back {
  background-color: $gray;
}

.darkgray {
  color: $darkgray;
}

.darkgray-back {
  background-color: $darkgray;
}

.darkergray {
  color: $darkergray;
}

.greenyellow {
  color: $greenyellow;
}

.greenyellow-back {
  background-color: $greenyellow;
}

.white {
  color: $white;
}

.white-back {
  background-color: $white;
}

.padded {
  padding: 20px;
  position: relative;
}

.right {
  display: flex;

  justify-content: flex-end;
}

.more {
  font-size: 1.2rem;
  font-style: italic;
}
