/**
* @file
* Typographic styles.
*
*/

h1 {
  color: $awfred;
  font-family: $sans;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4rem;
  margin: 0 0 2rem;
}

h2 {
  font-family: $sans;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 0 0.313rem;
  line-height: 2.4rem;
}

h2.header {
  color: $red;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.72rem;
  margin: 0 0 .8rem;
}

h3 {
  font-family: $sans;
  font-size: 3.2rem;
  font-weight: 500;
  margin: 0 0 1.563rem;
}

h4 {
  font-size: 2.8rem;
  font-weight: 400;
  margin: 0 0 0.9375rem;
}

h5 {
  font-size: 2.4rem !important;
  font-weight: 400;
  line-height: 2.72rem;
  margin: 0 0 0.8rem;
}

h6 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 0 0 0.5rem;
}

p {
  margin: 0 0 2rem;
}

cite {
  display: block;
  font-size: 1.6rem;
}

// Define an intro style.
.intro {
  font-size: 1.5em;
  line-height: 1.5em;
}

.lazyload {
  transition: all 700ms;
}

.subhead {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 0 0.5rem;
}

.italic {
  font-style: italic;
}
