{{ attach_library('awf/wherewework') }}

<p>NOTE: This page is not displaying node content.  The following is hard-coded in node--30302--full.html.twig and will eventually be displaying view-driven dynamic content</p>

<section id="" class="lighttan-back">     <a id="main-content"></a>
  <div id="module-15" class="container">
    <a href="#" rel="toggle" class="sprite map-open"></a>
    <a href="#" rel="toggle" class="sprite map-close"></a>
    <div class="row">
      <div class="nine columns omega">
        <div id="content-map">
          <img alt="" src="https://www.awf.org/sites/all/themes/awf/img/maps/countries.png" class="map countries">
          <!--  <img alt="" src="/sites/all/themes/awf/img/maps/countries.png" class="map hide landscapes">
           <img alt="" src="/sites/all/themes/awf/img/maps/regions.png" class="map hide regions">
           <img alt="" src="/sites/all/themes/awf/img/maps/landscapes.png" class="map hide countries"> -->
          <p class="visible-phone">
            Gray countries with texture denote areas of past engagement.
          </p>
          <div id="tooltip">
            <div class="left-column">
              <div class="bubble">
                <span class="sprite bubble-label"></span>
                <p class="center white">Congo</p>
              </div>
            </div>
            <div class="right-column">
              <p class="title bold"></p>
              <p class="desc"></p>
              <p>
                <a href="#" class="more">&gt; Learn More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="seven columns alpha">
        <div class="intro-text">
          <h1 class="red">Where We Work</h1>
          <h5 class="red">There's as much hope as<br> there is natural beauty</h5>
          <p class="white">Just as the land across Africa is vast and varied, so are the ecological and economic challenges. While some nations contend with political tensions, others must ease the struggle for resources between people and wildlife. Despite these issues, Africa is a continent of great potential. Opportunities abound for improving the lives of Africans and wildlife. At the African Wildlife Foundation, we’re working throughout the continent to do just that and help Africans chart a course toward a sustainable future. For we recognize that while every country, community, and region in Africa has different needs, they all want the same thing: an Africa that’s thriving for all.</p>
          <p class="gray">Gray countries with texture denote areas of past engagement.</p>
        </div>
        <div class="content-tabs"><ul class="tabs"><li><a href="#countries">Countries</a></li><li><a href="#collapse" class="collapse flip-h"><span class="sprite arrow-down-dark"></span></a></li></ul><div id="countries" class="maplist">
            <ul class="inline dots">          <li class=""><a href="/country/botswana" data-coords="300, 445" data-img="https://www.awf.org/sites/default/files/styles/tooltip_image/public/media/masthead/Botswana_Craig.jpg?itok=1cKzq0or" data-title="An economy in the desert" data-desc="Up to 70% of this growing country is covered by the Kalahari Desert.">Botswana</a></li>
              <li class=""><a href="/country/cameroon" data-coords="216, 254" data-img="https://www.awf.org/sites/default/files/styles/tooltip_image/public/media/masthead/Cameroon_Landscape_Priority_1400x415_ukn.jpg?itok=7-nXW_zd" data-title="‘Africa in miniature’" data-desc="Slightly bigger than California, it has all of Africa’s major climates and vegetation. ">Cameroon</a></li>
              <li class=""><a href="/country/drc" data-coords="299, 309" data-img="https://www.awf.org/sites/default/files/styles/tooltip_image/public/media/masthead/DRC.jpg?itok=RN0ARhaA" data-title="Abundance of apes" data-desc="DRC is home to three of five great apes and the second-largest tropical rain forest in the world.">Democratic Republic of Congo</a></li>
              <li class=""><a href="/country/ethiopia" data-coords="410, 220" data-img="https://www.awf.org/sites/default/files/styles/tooltip_image/public/media/gallery/Countries/Ethiopia/Ethiopian_Country_Gallery3.jpg?itok=mRSs2QUI" data-title="A treasure trove of World Heritage Sites" data-desc="With nine designated UNESCO World Heritage Sites, Ethiopia is a cultural and natural delight.">Ethiopia</a></li>
              <li class=""><a href="/country/kenya" data-coords="401, 283" data-img="https://www.awf.org/sites/default/files/styles/tooltip_image/public/media/masthead/Kenya.jpg?itok=wi6HmpvD" data-title="Increasing conservation" data-desc="Conservation is a cornerstone of the economy, as visitors flock to see Africa’s treasured wildlife. ">Kenya</a></li>
              <li class=""><a href="/country/mozambique" data-coords="398, 396" data-img="https://www.awf.org/sites/default/files/styles/tooltip_image/public/media/masthead/Mozambique_0.jpg?itok=xkHiHjfp" data-title="Rebounding growth" data-desc="The recent discovery of large natural gas reserves bolster Mozambique’s growing economy. ">Mozambique</a></li>
              <li class=""><a href="/country/namibia" data-coords="250, 449" data-img="https://www.awf.org/sites/default/files/styles/tooltip_image/public/media/masthead/Namibia_Tim_Moss.jpg?itok=f9rYAmNQ" data-title="Tourism destination" data-desc="It’s home to the largest game park in Africa, drawing more than a million tourists yearly.">Namibia</a></li>
              <li class=""><a href="/country/niger" data-coords="201, 162" data-img="https://www.awf.org/sites/default/files/styles/tooltip_image/public/media/masthead/Niger_Shana_Laursen.jpg?itok=8fHT737V" data-title="A desert oasis" data-desc="Some of the world’s rarest desert species can be found in Niger.">Niger</a></li>
              <li class=""><a href="/country/nigeria" data-coords="186,222" data-img="https://www.awf.org/sites/default/files/styles/tooltip_image/public/public%3A//media/gallery_0/Countries/Nigeriasmall.jpg?itok=mQZDjJAY" data-title="National parks are the key to wildlife conservation in Nigeria." data-desc="">Nigeria</a></li>
              <li class=""><a href="/country/rwanda" data-coords="343, 299" data-img="https://www.awf.org/sites/default/files/styles/tooltip_image/public/media/masthead/Rwanda.jpg?itok=Wm9zBVhk" data-title="Haven for gorillas" data-desc="Rwanda harbors one-third of the world’s remaining mountain gorillas.">Rwanda</a></li>
              <li class=""><a href="/country/south-africa" data-coords="300, 513" data-img="https://www.awf.org/sites/default/files/styles/tooltip_image/public/media/masthead/SouthAFfrica_.jpg?itok=LnH53Ex-" data-title="Rhino refuge" data-desc="South Africa is home to the largest population of rhinos on the continent.">South Africa</a></li>
              <li class=""><a href="/country/tanzania" data-coords="380, 333" data-img="https://www.awf.org/sites/default/files/styles/tooltip_image/public/media/masthead/Tanzania_.jpg?itok=gFVPYGU4" data-title="A natural beauty" data-desc="Tanzania is famous for Mt. Kilimanjaro, Lake Victoria, and the Serengeti wildebeest migration.">Tanzania</a></li>
              <li class=""><a href="/country/uganda" data-coords="364, 273" data-img="https://www.awf.org/sites/default/files/styles/tooltip_image/public/media/masthead/Uganda_.jpg?itok=mQIRHGfh" data-title="The “Pearl of Africa”" data-desc="Uganda boasts the highest mountain range in Africa and half of the world’s mountain gorillas.">Uganda</a></li>
              <li class=""><a href="/country/zambia" data-coords="315, 392" data-img="https://www.awf.org/sites/default/files/styles/tooltip_image/public/media/masthead/Zambia.jpg?itok=3VmjV_M5" data-title="Fast economic reform" data-desc="Zambia explores economic alternatives, including gemstone mining and growing tourism.">Zambia</a></li>
              <li class=""><a href="/country/zimbabwe" data-coords="343,424" data-img="https://www.awf.org/sites/default/files/styles/tooltip_image/public/media/masthead/Zimbabwe_Landscape_Priority_1400x415_AWF.jpg?itok=tNW31ro0" data-title="Picturesque views" data-desc="Zimbabwe's sights include Mt. Nyangani and Victoria Falls, one of the world’s biggest waterfalls. ">Zimbabwe</a></li>
            </ul></div></div>   </div>
    </div>
  </div>
</section>
