---
notes: |
  Required: ./includes/menu.js (for keyboard accessibility)
---
<div id="navigation">
  <ul class="menu">
    <li class="active"><a href="" class="active">Menu Item 1</a></li>
    <li><a href="">Menu Item 2</a>
      <ul class="menu">
        <li><a href="">Submenu Item 1</a></li>
        <li><a href="">Submenu Item 2</a></li>
        <li><a href="">Submenu Item 3</a></li>
      </ul>
    </li>
    <li><a href="">Menu Item 3</a>
      <ul class="menu">
        <li><a href="">Submenu Item A</a></li>
        <li><a href="">Submenu Item B</a></li>
        <li><a href="">Submenu Item C</a></li>
      </ul>
    </li>
    <li><a href="">Menu Item 4</a></li>
    <li><a href="">Menu Item 5</a></li>
  </ul>
</div>
