---
notes: |
  Required: JQuery
---
<ul class="owl-carousel">
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur corporis, eligendi est eveniet ipsa ipsum iusto labore odio quae quam, similique sunt tempora totam ut? Ex nobis quae tempora?</li>
  <li>Accusamus aspernatur dolore dolores dolorum illum in libero, nemo neque praesentium quas qui sapiente? Ab, cum doloribus eius, hic impedit ipsum laudantium obcaecati quos recusandae repellendus sequi totam voluptatem voluptates?</li>
  <li>Debitis earum enim impedit labore quis tenetur voluptatum. Atque aut consequatur, debitis dolores eius id laborum mollitia officia praesentium quae reprehenderit tenetur? Accusamus atque dicta eveniet laboriosam nisi sint veniam!</li>
</ul>

<!-- Required script for carousel -->
<script src="js/init-carousel.js"></script>
