---
notes: |
  Required: ./includes/shorten.js
---
<div class="shorten">
  <p>Accusamus accusantium adipisci aliquam animi at aut deleniti deserunt dignissimos distinctio dolore doloremque dolorum ducimus earum eveniet exercitationem impedit ipsa iste laborum libero maiores, nam nesciunt nobis non nostrum odio pariatur perferendis quasi quidem ratione recusandae reiciendis repudiandae sed sit totam ullam voluptate voluptates! Ad aliquid at aut consequatur eius eligendi est et eveniet excepturi harum ipsam laudantium libero minima molestias numquam optio perspiciatis placeat recusandae reiciendis repellendus repudiandae sapiente tempora, tenetur unde velit vero voluptatem. Accusantium autem dicta dignissimos est expedita iusto modi nam non tempora voluptatibus. A beatae consequuntur dolorem, eaque eligendi esse, hic id inventore libero maiores maxime omnis optio pariatur perferendis quia quo reiciendis reprehenderit!</p>
  <p>A, alias architecto at dicta dignissimos dolor ea exercitationem facilis fuga hic illum labore modi nulla officiis omnis perferendis perspiciatis placeat qui rem reprehenderit. Aliquam consequuntur eos laudantium officia reiciendis suscipit vel voluptate! At aut fugiat itaque, magni nesciunt velit. A ad aperiam dicta doloremque error excepturi, explicabo facere fugiat labore laboriosam molestiae necessitatibus nemo neque, nesciunt nihil officiis
    <strong>quibusdam quod ratione</strong> saepe temporibus totam veniam veritatis. Delectus excepturi facilis illum quia voluptate voluptatem!
  </p>
</div>
