---
notes: |
  Required: ./includes/tabs.js
---
<h4>TAB GROUP 1</h4>
<div class="tm-tabs">
  <div class="tab-content">
    <h3 class="tab-label">Tab One</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores aspernatur consectetur corporis dicta doloremque dolores, eius eos error exercitationem explicabo fuga incidunt ipsam laborum nisi non odio officiis reiciendis repellendus saepe sapiente similique soluta totam ut velit vero vitae! A ab aliquid architecto aspernatur consequuntur cum delectus ea earum eius eligendi enim eos eveniet facilis fuga fugit impedit iusto laborum magni maiores minus molestiae necessitatibus nemo non nostrum obcaecati officiis perferendis placeat porro provident quia, quidem quo rerum sapiente sequi sit suscipit ullam. Delectus dolor id possimus quo repellendus! Accusantium adipisci animi aut excepturi laboriosam necessitatibus, qui repellat vel?</p>
  </div>
  <div class="tab-content">
    <h3 class="tab-label">Tab Two</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit laboriosam laborum nulla. Accusamus adipisci impedit inventore minus officia quo temporibus vero. Alias aperiam atque commodi consequatur corporis culpa doloremque dolores explicabo facilis fugiat illum iure magnam neque nihil nobis optio porro, quam quidem quod ratione reiciendis saepe similique, suscipit, veniam?</p>
  </div>
</div>

<h4>TAB GROUP 2</h4>
<div class="tm-tabs">
  <div class="tab-content">
    <h3 class="tab-label">Tab One</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores aspernatur consectetur corporis dicta doloremque dolores, eius eos error exercitationem explicabo fuga incidunt ipsam laborum nisi non odio officiis reiciendis repellendus saepe sapiente similique soluta totam ut velit vero vitae! A ab aliquid architecto aspernatur consequuntur cum delectus ea earum eius eligendi enim eos eveniet facilis fuga fugit impedit iusto laborum magni maiores minus molestiae necessitatibus nemo non nostrum obcaecati officiis perferendis placeat porro provident quia, quidem quo rerum sapiente sequi sit suscipit ullam. Delectus dolor id possimus quo repellendus! Accusantium adipisci animi aut excepturi laboriosam necessitatibus, qui repellat vel?</p>
  </div>
  <div class="tab-content">
    <h3 class="tab-label">Tab Two</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit laboriosam laborum nulla. Accusamus adipisci impedit inventore minus officia quo temporibus vero. Alias aperiam atque commodi consequatur corporis culpa doloremque dolores explicabo facilis fugiat illum iure magnam neque nihil nobis optio porro, quam quidem quod ratione reiciendis saepe similique, suscipit, veniam?</p>
  </div>
  <div class="tab-content">
    <h3 class="tab-label">Tab Three</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores aspernatur consectetur corporis dicta doloremque dolores, eius eos error exercitationem explicabo fuga incidunt ipsam laborum nisi non odio officiis reiciendis repellendus saepe sapiente similique soluta totam ut velit vero vitae! A ab aliquid architecto aspernatur consequuntur cum delectus ea earum eius eligendi enim eos eveniet facilis fuga fugit impedit iusto laborum magni maiores minus molestiae necessitatibus nemo non nostrum obcaecati officiis perferendis placeat porro provident quia, quidem quo rerum sapiente sequi sit suscipit ullam. Delectus dolor id possimus quo repellendus! Accusantium adipisci animi aut excepturi laboriosam necessitatibus, qui repellat vel?</p>
  </div>
</div>
