{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
    'container row'
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="inner-wrapper">
      {{ content }}
    </div>
  </div>
{% endif %}
{% if in_uk %}
  <div style="margin-top: 2em;color: #4b3e36;text-align: center;clear:both">
    <div>African Wildlife Foundation is a registered charity in England and Wales 1128297 and a company limited by guarantee registered in England and Wales 6302494</div>
  </div>
{% endif %}
