/**
* @file
* Block global styles.
*
*/

.block {
  position: relative;
}

%fadein-selector {
  transition: opacity 300ms ease 50ms;

  &.js-transparent {
    opacity: 0;
  }
}

.lazyload {
  opacity: .2;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms ease 50ms;
}

.btn-orange {
  @include button-orange;
}

.btn-orange-line {
  margin: 20px 0;
  display: block;
  height: 47px;
  max-width: 170px;
  @include button-orange-line;
}
