// Content preface styles

.region-content-preface {
  @extend %content-width;

  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;

  @include breakpoint($min1024) {
    padding: 0;
  }

  .page-node-type-species & {
    max-width: 1150px;
  }

  .block-preface-social-sharing,
  .block-breadcrumbs {
    height: 0;
    visibility: hidden;
    width: 50%;
    margin-bottom: 2rem;

    @include breakpoint($min760) {
      height: auto;
      visibility: visible;
      margin-bottom: 0;
    }
  }

  .block-views {
    width: 100%;
  }
}

// On the overview landing page the social share appears
// at the bottom of the brown block.
.landing-overview .block-preface-social-sharing {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
}
