// Main related stylings

main .layout-content {
  margin: 0 20px;

  .path-frontpage & {
    margin: 0;
  }
}

.layout-container {
  background-color: $ltgray;

  .path-frontpage & {
    background-color: $white;
  }
}

// WHEN SIDEBAR IS PRESENT
main.has-sidebar-right {
  @extend %content-width;

  @include breakpoint($min760) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    #main-content {
      width: 100%;
    }

    .layout-content {
      width: 74.468205%;
      margin: 0;
    }

    .layout-sidebar-second {
      margin-top: 6rem;
      width: 23.404293%;
    }
  }
}
