/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebar.
 *
 */

.region-content {
  @extend %content-width;

  .block-main-page-content {
    background: $white;
    padding: 2rem;
  }

  .path-frontpage & {
    max-width: 100% !important;
  }
}

main .layout-content {
  margin: 0 20px;

  .path-frontpage & {
    margin: 0;
  }
}

.layout-container {
  background-color: $ltgray;

  .path-frontpage & {
    background-color: $white;
  }
}
