// Blog content type

.page-node-type-blog {

  .content-wrapper-top {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  .field--name-field-tags-country .field__item {
    display: inline-block;
    margin: 0 .25rem 0 0;

    &:after {
      content: ',';
    }

    &:last-of-type::after {
      content: none;
    }
  }

  .field--name-field-tags-country.field__items {
    display: inline;
  }

  .field--name-field-media-image {
    padding: 0 !important;
    margin-top: 0 !important;
  }

  .field--name-field-about-the-author .field__label {
    @extend h6;
  }

  .field--name-user-picture img {
    width: 112px;
  }

  .two-col {
    .left {
      flex-shrink: 0;
    }

    .left article>div {
      padding: 0;
    }

    .right {
      width: 100%;
      max-width: 100%;

      @include breakpoint($desktop) {
        width: 55.319238%;
      }
    }
  }
}
