// Country content type

.page-node-type-country {

  .land-block .two-col {
    padding: 0;

    .left,
    .right {
      width: 100%;
      max-width: 100%;

      @include breakpoint($min760) {
        width: 50%;
      }
    }

    .left {
      padding: 2rem;
    }
  }

  .heading-bar {
    background: $awftan;
    padding: 12px 10px;

    p {
      margin: 0;
    }
  }

  .gotmap {
    height: 100%;
  }

  .article-block {
    margin-bottom: 20px;
  }

  .field--name-field-solution-bullet-heading .field__item {
    font-weight: 600;
  }

  .facts {
    font-size: 1.6rem;

    h2.header {
      color: #333;
      font-size: 1.6rem;
      font-weight: 600;
      margin: 0 0 0 5.75rem;
    }
  }
}
