// Country content type

.page-node-type-country {

  .landscape-article {
    margin-bottom: 20px;
  }

  .field--name-field-solution-bullet-heading .field__item {
    font-weight: 600;
  }

  .facts {
    font-size: 1.6rem;

    h2.header {
      color: #333;
      font-size: 1.6rem;
      font-weight: 600;
      margin: 0 0 0 5.75rem;
    }
  }
}
