// Landing page content type

.page-node-type-landing-page {

  .article-block {
    margin-bottom: 20px;
  }

  .field--name-field-solution-bullet-heading .field__item {
    font-weight: 600;
  }

  .facts {
    font-size: 1.6rem;

    h2.header {
      color: #333;
      font-size: 1.6rem;
      font-weight: 600;
      margin: 0 0 0 5.75rem;
    }
  }
}


// Rather than preprocessing the field, just hide it via a class.
.landing-overview {
  .field--name-title {
    visibility: hidden;
  }

  .region-content-preface {
    position: relative;
    color: $white;
    min-height: 250px;

    @include breakpoint($min1024) {
      min-height: 350px;
    }

    &:before {
      content: "";
      background: #322c2a url('../images/hero/brown-pattern.jpg') 0 0 repeat;
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 220vw;
      margin-left: -100vw;
      overflow: hidden;
    }

    h1,
    h6 {
      color: $red;
    }
  }
}
