// Landscape content type

.page-node-type-landscape {
  .landscape-article {
    margin-bottom: 20px;

    h2.header {
      color: $red;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 2.72rem;
      margin: 0 0 .8rem 0;
    }
  }
}
