body {
  margin: 0;
  position: relative;
}

.f-container {
  @include clearfix;
  @include border-box;
  position: relative;
  padding: 0 1em;
  z-index: 0;
  min-height: 100vh;

  .f-menu-active & {
    @media (min-width: 60em) {
      margin-left: $menu-width;
    }
  }

}
